<div class="login-container">

  <div class="login-card">
    <h2>Employee Management</h2>
    <p class="subtitle">Login to continue</p>

    <form #loginForm="ngForm" (ngSubmit)="onLogin()">

      <div class="input-group">
        <input 
          type="email" 
          placeholder="Email" 
          [(ngModel)]="email" 
          name="email" 
          required 
          class="theme-input"
          #emailInput="ngModel"
        />
        <p class="error" *ngIf="emailInput.invalid && emailInput.touched">
          Email is required
        </p>
      </div>

      <div class="input-group">
        <input 
          type="password" 
          placeholder="Password" 
          [(ngModel)]="password" 
          name="password" 
          required 
          class="theme-input"
          #passwordInput="ngModel"
        />
        <p class="error" *ngIf="passwordInput.invalid && passwordInput.touched">
          Password is required
        </p>
      </div>

      <button type="submit" class="theme-btn" [disabled]="loginForm.invalid">
        Login
      </button>
      

    </form>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

</div>